@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 300% 300%;
    animation: gradientAnimation 5s infinite;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Add your desired scrollbar styles */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0.5rem; /* Width of the scrollbar */
  }
  
  .hide-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
  }
  
  .hide-scrollbar::-webkit-scrollbar-thumb {
    background: transparent; /* Color of the scrollbar thumb */
  }

  .marquee {
    white-space: nowrap; /* Prevent content from wrapping */
    overflow: hidden; /* Hide the overflowing content */
  }
  
  .marquee-content {
    animation: marquee 5s linear infinite; /* Adjust the duration as needed */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Adjust the distance to scroll */
    }
  }
  